export API_KEY_ALCHEMY="YOUR_API_KEY_ALCHEMY"
export API_KEY_ETHERSCAN="YOUR_API_KEY_ETHERSCAN"
export ROUTEMESH_API_KEY="YOUR_ROUTEMESH_API_KEY"
export MNEMONIC="YOUR_MNEMONIC"
export FOUNDRY_PROFILE="default"
